<a href="https://colab.research.google.com/github/NickTorres04/Programacion-en-Python-UTEC/blob/main/Copia_de_mod2_clase4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

COUNT : cantidad de registros con informacion,
Mean : Promedio
std : Desv. Estandar

# ***PANDAS***

In [ ]:
datos_4 = np.arange(10)
print(f"Datos 4: {datos_4}")
print(f"Tipo de datos es: {type(datos_4)}")
print(f"El promedio es: {np.mean(datos_4)}")
print(f"La suma es: {np.sum(datos_4)}")

Datos 4: [0 1 2 3 4 5 6 7 8 9]
Tipo de datos es: <class 'numpy.ndarray'>
El promedio es: 4.5
La suma es: 45

In [ ]:
mat_1 = np.random.uniform(5,6,10) # (rango_inicial,rango_final, cant_valores)
print(f"Matriz 1:\n {mat_1}")
print(f" Numero de dimesiones de la matriz 1: {mat_1.ndim}")
print("\n")
mat_2 = np.random.uniform(-1,1,10)
print(f"Matriz 2: \n {mat_2}")
print(f" Numero de dimesiones de la matriz 2: {mat_2.ndim}")
print("\n")
print(f"Matriz (mat_1 + mat_2) : \n {mat_1 + mat_2}")
print(f" Numero de dimesiones de la matriz 3: {(mat_1 + mat_2).ndim}")

Matriz 1:
 [5.37859077 5.79973491 5.49596517 5.14947887 5.46683228 5.19933279
 5.65155853 5.15543113 5.63813243 5.73756465]
 Numero de dimesiones de la matriz 1: 1


Matriz 2:
 [-0.33762062 -0.5869599   0.63246701 -0.85752927 -0.95495511  0.45203669
 -0.50127854 -0.83925562  0.5304736   0.27506053]
 Numero de dimesiones de la matriz 2: 1


Matriz (mat_1 + mat_2) :
 [5.04097014 5.21277502 6.12843218 4.29194961 4.51187717 5.65136948
 5.15027999 4.31617552 6.16860603 6.01262517]
 Numero de dimesiones de la matriz 3: 1

## ***SERIES***

In [ ]:
#GENERAR SERIE:
ser_mat_1 =pd.Series(mat_1)
print(f"Serie 1: \n{ser_mat_1}")


print("\n")

ser_mat_2 = pd.Series(mat_2)
print(f"Serie 2: \n{ser_mat_2}")

print("\n")
ser_mat_3 = pd.Series(mat_1 + mat_2)
print(f"Serie 3: \n{ser_mat_3}")

print("\n")
ser_mat_4 = ser_mat_1 + ser_mat_2 + ser_mat_3
print(f"Serie 4: \n{ser_mat_4}")

Serie 1:
0    5.378591
1    5.799735
2    5.495965
3    5.149479
4    5.466832
5    5.199333
6    5.651559
7    5.155431
8    5.638132
9    5.737565
dtype: float64


Serie 2:
0   -0.337621
1   -0.586960
2    0.632467
3   -0.857529
4   -0.954955
5    0.452037
6   -0.501279
7   -0.839256
8    0.530474
9    0.275061
dtype: float64


Serie 3:
0    5.040970
1    5.212775
2    6.128432
3    4.291950
4    4.511877
5    5.651369
6    5.150280
7    4.316176
8    6.168606
9    6.012625
dtype: float64


Serie 4:
0    10.081940
1    10.425550
2    12.256864
3     8.583899
4     9.023754
5    11.302739
6    10.300560
7     8.632351
8    12.337212
9    12.025250
dtype: float64

## ***Describe***

In [ ]:
ser_mat_4.describe()

count    10.000000
mean     10.497012
std       1.452644
min       8.583899
25%       9.288301
50%      10.363055
75%      11.844623
max      12.337212
dtype: float64

In [ ]:
np.array(["a","b","c"])
pd.Series(np.array(["a","b","c"]))

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(np.array(["a","b","c"]),index=["x","y","z"])

x    a
y    b
z    c
dtype: object

In [ ]:
dic_1 = {"Series 1": ser_mat_1,
         "Series 2": ser_mat_2,
         "Series 3": ser_mat_3,
         "Series 4": ser_mat_4
         }
print(f"El tipo de dict_1 : {type(dic_1)}")
print(dic_1)

El tipo de dict_1 : <class 'dict'>
{'Series 1': 0    5.378591
1    5.799735
2    5.495965
3    5.149479
4    5.466832
5    5.199333
6    5.651559
7    5.155431
8    5.638132
9    5.737565
dtype: float64, 'Series 2': 0   -0.337621
1   -0.586960
2    0.632467
3   -0.857529
4   -0.954955
5    0.452037
6   -0.501279
7   -0.839256
8    0.530474
9    0.275061
dtype: float64, 'Series 3': 0    5.040970
1    5.212775
2    6.128432
3    4.291950
4    4.511877
5    5.651369
6    5.150280
7    4.316176
8    6.168606
9    6.012625
dtype: float64, 'Series 4': 0    10.081940
1    10.425550
2    12.256864
3     8.583899
4     9.023754
5    11.302739
6    10.300560
7     8.632351
8    12.337212
9    12.025250
dtype: float64}

### ***Forma tabular:***

In [ ]:
# DARLE FORMA TABULAR:
data =  pd.DataFrame(dic_1)
print(data)
print("\n")
print(f" La cantidad de filas y columnas es: {data.shape}")

   Series 1  Series 2  Series 3   Series 4
0  5.378591 -0.337621  5.040970  10.081940
1  5.799735 -0.586960  5.212775  10.425550
2  5.495965  0.632467  6.128432  12.256864
3  5.149479 -0.857529  4.291950   8.583899
4  5.466832 -0.954955  4.511877   9.023754
5  5.199333  0.452037  5.651369  11.302739
6  5.651559 -0.501279  5.150280  10.300560
7  5.155431 -0.839256  4.316176   8.632351
8  5.638132  0.530474  6.168606  12.337212
9  5.737565  0.275061  6.012625  12.025250


 La cantidad de filas y columnas es: (10, 4)

## ***Continue*** **TRABAJAR CON GOOGLE DRIVE **

In [ ]:
import sys
sys.path[0]

'/content'